
// Global style
* {
    padding: 0;
    margin: 0;
}

body {
    background-color: $main-background;
    text-align: center;
    font-size: 100%;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

h1 {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: .7rem;
}

h3 {
    font-size: 1rem;
    font-weight: 400;
}

img {
    width: 21px;
    height: auto;
}

.btn-tools {
    text-align: center;
    background-color: $btn;
    color: $light-text;
    border-radius: 3px;
    font-size: .5rem;
    width: 3.1rem;
}

.btn {
    padding: .3rem .5rem;   
}

.wrapper {
    width: 90%;
    margin: .9rem auto;
}